venv
data



# source venv/Scripts/activate
# python client.py 1 poisoned

# source venv/Scripts/activate
# python client.py 2 poisoned

# source venv/Scripts/activate
# python client.py 3 

# source venv/Scripts/activate
# python client.py 4 

# source venv/Scripts/activate
# python client.py 5 

# source venv/Scripts/activate
# python client.py 6 

# source venv/Scripts/activate
# python client.py 7 

# source venv/Scripts/activate
# python client.py 8 

# source venv/Scripts/activate
# python client.py 9 

# source venv/Scripts/activate
# python client.py 10 